$main-blue: #090938;
$sec-blue: #1f63fb;
$yellow: #fed438;
$rd-blue: #16c1c7;
$white: #fff;

.nav{
    z-index: 999;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    .logo-div{
        width: 30%;
        margin: 0;
        display: flex;
        align-items: center;
        img{
            height: 20px;
            margin-top: 5px;
        }
    }

    .links-div{
        width: 40%;
        margin: 0;
        padding: 0;
        align-items: center;
        ul{
            display: flex;
            margin: 0;
            padding: 0;
            justify-content: center;
            li{
                list-style: none;
                font-size: 15px;
                a{
                    color: $main-blue;
                    text-decoration: none;

                    padding: 15px 10px;
                    margin: 0 10px;
                    &:hover{
                        color: $sec-blue;
                        border-bottom: solid 3px $sec-blue;
                    }
                    &.active{
                        color: $sec-blue;
                        border-bottom: solid 3px $sec-blue;
                    }
                }
            }
        }
    }
    .icons-div{
        margin: 0;
        padding: 0;
        width: 30%;
        ul{
            margin: 0;
            display: flex;
            justify-content: flex-end;
            li{
                list-style: none;
                font-size: 15px;
                a{
                    color: $main-blue;
                    text-decoration: none;

                    padding: 15px 5px;
                    margin: 0 5px;
                    &:hover{
                        color: $sec-blue;
                        border-bottom: solid 3px $sec-blue;
                    }
                    &.active{
                        color: $sec-blue;
                        border-bottom: solid 3px $sec-blue;
                    }
                    i{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}